@model IEnumerable<BugTrackerCF.Models.Project>

@{
    ViewBag.Title = "Index";
}


<div class="sub-nav hidden-sm hidden-xs">
    <ul>
        <li><a href="" class="heading">Projects</a></li>

    </ul>

</div>
<!-- Sub Nav End -->
<!-- Dashboard Wrapper Start -->
<div class="dashboard-wrapper-lg">

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table id="ProjectTable" class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

    @section scripts{
        <script>
            $(document).ready(function () {
                $('#ProjectTable').DataTable({
                    responsive: true,
                    stateSave: true
                });
            });
        </script>
    }
